body{
    margin: 0;
    overflow: hidden;
}
a{
    text-decoration: none;
    color: black;
    padding: 3px;
}
.project-modal-hide{
    display: none;
}
.project-modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    position: absolute;
    width: 100vw;
    height: 100vh;
}
.hide-task-modal-container{
    display: none;
}
.show-task-modal-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    position: absolute;
    width: 100vw;
    height: 100vh;
}
#content{
    display: flex;
}
#left-side-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 100px;
}
.project-btn{
    height: 50px;
    background-color: rgb(255, 225, 93);
    margin-bottom: 30px;
}
.btn{
    background-color: rgb(255, 225, 93);
    height: 50px;
    float: right;
    margin: 10px;
    margin-right: 100px;
}
#main-container{
    width: 100%;
    height: 100vh;
    background-color: rgb(233, 233, 233);
}
.card{
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    border-bottom: 1px solid black;
    margin-left: 2.5%;
}