@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;900&display=swap');
*{
    font-family: 'Rubik', sans-serif;
}
body{
    margin: 0;
    overflow: hidden;
}
a{
    text-decoration: none;
    color: black;
    padding: 3px;
}
/* Project modal */
.project-modal-hide{
    display: none;
}
.project-modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    position: absolute;
    width: 100vw;
    height: 100vh;
}
.input-wrapper > input{
    padding: 7px;
    margin-left: 5px;
}
#project-modal > .input-wrapper{
    padding: 10px;
}
#project-modal button{
    width: 108px;
    height: 40px;
    margin: 0 5px;
}
.ok-btn{
    background-color: rgb(255, 225, 93);
}
/* Task modal */
.hide-task-modal-container{
    display: none;
}
.show-task-modal-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    position: absolute;
    width: 100vw;
    height: 100vh;
}
#task-modal{
    background-color: rgba(0, 0, 0, 0.942);
}
#task-modal > .input-wrapper{
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 30px;
    border-radius: 5px;
    background-color: #fff;
}
.input-wrapper > input{
    margin-bottom: 10px;
}
.input-wrapper > label{
    margin-left: 5px;
}
.input-wrapper > button{
    height: 30px;
    margin-top: 5px;
    margin-left: 5px;
}
.add-task-btn{
    background-color: rgb(255, 225, 93);
}
/* Common */
#content{
    display: flex;
}
#left-side-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 100px;
}
.project-btn{
    height: 50px;
    background-color: rgb(255, 225, 93);
    margin-bottom: 30px;
}
.btn{
    background-color: rgb(255, 225, 93);
    height: 50px;
    float: right;
    margin: 10px;
    margin-right: 100px;
}
#main-container{
    width: 100%;
    height: 100vh;
    background-color: rgb(233, 233, 233);
}
.card{
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    border-bottom: 1px dotted black;
    margin-left: 2.5%;
}

/* Projects */
.project-wrapper{
    display: flex;
    gap: 5px;
}
.delete-project{
    border: 0;
    background-color: #fff;
    color: #ff0000;
}
.delete-project:hover{
    cursor: pointer;
    background-color: #ffdbdb;
    color: black;
    border-radius: 50%;
}